<h1> Sarah's Store </h1>
<%= turbo_stream_from "home" %>
<% if @offer ==nil %>
  No offer is currently available
<% else %>
  <div id="current_offer">
  <%= render "offer", offer: @offer %>
  </div>

  <div id="buy_button">
    <%= render "buy_button", offer: @offer %>
  </div>


<% end %>
